# Accessible Data Visualizations with WHO

## Import the Library

In [98]:
import pandas as pd
import seaborn as sns
import numpy as np

## Load the Dataset

In [55]:
df_age = pd.read_excel('WHO/Data/DisabilityPrevalence.xlsx', sheet_name = 'age')
df_income = pd.read_excel('WHO/Data/DisabilityPrevalence.xlsx', sheet_name = 'income')
df_regions = pd.read_excel('WHO/Data/DisabilityPrevalence.xlsx', sheet_name = 'regions')
ref_cause = pd.read_excel('WHO/Data/DisabilityPrevalence.xlsx', sheet_name = 'ref_cause')

In [16]:
df_age.head()

,location_id,age_group_id,age_group,sex_id,year_id,severity,metric_id,level,cause_name,prev,lower,upper
0,1,NaN,60 plus,1,2021,moderate and severe,3,3,Maternal obstructed labor and uterine rupture,0.0,0.0,0.0
1,1,NaN,60 plus,1,2021,moderate and severe,3,3,Chlamydial infection,0.0,0.0,0.0
2,1,NaN,60 plus,1,2021,moderate and severe,3,3,Gonococcal infection,0.0,0.0,0.0
3,1,NaN,60 plus,1,2021,moderate and severe,3,3,Other sexually transmitted infections,0.0,0.0,0.0
4,1,NaN,60 plus,1,2021,moderate and severe,3,3,Cervical cancer,0.0,0.0,0.0

In [17]:
df_income.head()

,IncomeGroupCountry,age_group_id,sex_id,year_id,cause_name,level,severity,metric_id,mean,lower,upper
0,High,22,3,2021,Upper respiratory infections,3,moderate and severe,3,1.270772e-05,9.758367e-06,1.610199e-05
1,High,22,3,2021,Chagas disease,3,moderate and severe,3,9.158350e-06,7.136468e-06,1.128575e-05
2,High,22,3,2021,Schistosomiasis,3,moderate and severe,3,1.607063e-08,8.385919e-09,2.526537e-08
3,High,22,3,2021,Onchocerciasis,3,moderate and severe,3,0.000000e+00,0.000000e+00,0.000000e+00
4,High,22,3,2021,Trachoma,3,moderate and severe,3,1.235740e-06,8.791901e-07,1.679398e-06

In [18]:
df_regions.head()

,Region,location_id,age_group_id,sex_id,year_id,cause_name,level,severity,metric_id,mean,lower,upper
0,AFR,44563,22,2,2021,Chagas disease,3,moderate and severe,3,0.0,0.0,0.0
1,AFR,44563,22,2,2021,Food-borne trematodiases,3,moderate and severe,3,0.0,0.0,0.0
2,AFR,44563,22,2,2021,Zika virus,3,moderate and severe,3,0.0,0.0,0.0
3,AFR,44563,22,2,2021,Prostate cancer,3,moderate and severe,3,0.0,0.0,0.0
4,AFR,44563,22,2,2021,Testicular cancer,3,moderate and severe,3,0.0,0.0,0.0

In [21]:
df_age.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   location_id   9999 non-null   int64
 1   age_group_id  2727 non-null   float64
 2   age_group     9999 non-null   object
 3   sex_id        9999 non-null   int64
 4   year_id       9999 non-null   int64
 5   severity      9999 non-null   object
 6   metric_id     9999 non-null   int64
 7   level         9999 non-null   int64
 8   cause_name    9999 non-null   object
 9   prev          9999 non-null   float64
 10  lower         9999 non-null   float64
 11  upper         9999 non-null   float64
dtypes: float64(4), int64(5), object(3)
memory usage: 937.5+ KB

In [22]:
df_income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7272 entries, 0 to 7271
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   IncomeGroupCountry  7272 non-null   object
 1   age_group_id        7272 non-null   int64
 2   sex_id              7272 non-null   int64
 3   year_id             7272 non-null   int64
 4   cause_name          7272 non-null   object
 5   level               7272 non-null   int64
 6   severity            7272 non-null   object
 7   metric_id           7272 non-null   int64
 8   mean                7272 non-null   float64
 9   lower               7272 non-null   float64
 10  upper               7272 non-null   float64
dtypes: float64(3), int64(5), object(3)
memory usage: 625.1+ KB

In [23]:
df_regions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10908 entries, 0 to 10907
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Region        10908 non-null  object
 1   location_id   10908 non-null  int64
 2   age_group_id  10908 non-null  int64
 3   sex_id        10908 non-null  int64
 4   year_id       10908 non-null  int64
 5   cause_name    10908 non-null  object
 6   level         10908 non-null  int64
 7   severity      10908 non-null  object
 8   metric_id     10908 non-null  int64
 9   mean          10908 non-null  float64
 10  lower         10908 non-null  float64
 11  upper         10908 non-null  float64
dtypes: float64(3), int64(6), object(3)
memory usage: 1022.8+ KB

In [20]:
print("shape of df_age: ", df_age.shape)
print("shape of df_income: ", df_income.shape)
print("shape of df_regions: ", df_regions.shape)

shape of df_age:  (9999, 12)
shape of df_income:  (7272, 11)
shape of df_regions:  (10908, 12)

In [24]:
df_age.describe()

,location_id,age_group_id,sex_id,year_id,metric_id,level,prev,lower,upper
count,9999.0,2727.000000,9999.000000,9999.0,9999.000000,9999.000000,9.999000e+03,9.999000e+03,9.999000e+03
mean,1.0,23.666667,2.000000,2021.0,2.090909,2.874587,2.654777e+06,2.079594e+06,3.477778e+06
std,0.0,2.357455,0.816537,0.0,0.995909,0.350568,2.684730e+07,2.365366e+07,3.155443e+07
min,1.0,22.000000,1.000000,2021.0,1.000000,1.000000,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.0,22.000000,1.000000,2021.0,1.000000,3.000000,1.005000e-05,6.365000e-06,1.330000e-05
50%,1.0,22.000000,2.000000,2021.0,3.000000,3.000000,1.601034e-03,1.098561e-03,2.104562e-03
75%,1.0,27.000000,3.000000,2021.0,3.000000,3.000000,4.478742e+04,2.843762e+04,5.644289e+04
max,1.0,27.000000,3.000000,2021.0,3.000000,3.000000,1.281079e+09,1.161003e+09,1.427759e+09

In [25]:
df_income.describe()

,age_group_id,sex_id,year_id,level,metric_id,mean,lower,upper
count,7272.0,7272.000000,7272.0,7272.000000,7272.000000,7.272000e+03,7.272000e+03,7.272000e+03
mean,22.0,2.000000,2021.0,2.874587,2.000000,1.247357e+06,9.785117e+05,1.631326e+06
std,0.0,0.816553,0.0,0.350574,1.000069,1.144217e+07,1.010048e+07,1.345703e+07
min,22.0,1.000000,2021.0,1.000000,1.000000,0.000000e+00,0.000000e+00,0.000000e+00
25%,22.0,1.000000,2021.0,3.000000,1.000000,3.091886e-05,1.793137e-05,3.992640e-05
50%,22.0,2.000000,2021.0,3.000000,2.000000,1.268829e-02,9.024584e-03,1.915319e-02
75%,22.0,3.000000,2021.0,3.000000,3.000000,4.774571e+04,2.813945e+04,5.924348e+04
max,22.0,3.000000,2021.0,3.000000,3.000000,5.090368e+08,4.615571e+08,5.653133e+08

In [26]:
df_regions.describe()

,location_id,age_group_id,sex_id,year_id,level,metric_id,mean,lower,upper
count,10908.000000,10908.0,10908.000000,10908.0,10908.000000,10908.000000,1.090800e+04,1.090800e+04,1.090800e+04
mean,44565.500000,22.0,2.000000,2021.0,2.874587,2.000000,8.285756e+05,6.491101e+05,1.085122e+06
std,1.707903,0.0,0.816534,0.0,0.350566,1.000046,7.230125e+06,6.387222e+06,8.536291e+06
min,44563.000000,22.0,1.000000,2021.0,1.000000,1.000000,0.000000e+00,0.000000e+00,0.000000e+00
25%,44564.000000,22.0,1.000000,2021.0,3.000000,1.000000,2.435786e-05,1.314425e-05,3.222271e-05
50%,44565.500000,22.0,2.000000,2021.0,3.000000,2.000000,8.512918e-03,5.712024e-03,1.254358e-02
75%,44567.000000,22.0,3.000000,2021.0,3.000000,3.000000,3.337799e+04,1.835713e+04,4.223037e+04
max,44568.000000,22.0,3.000000,2021.0,3.000000,3.000000,3.236018e+08,2.936425e+08,3.598463e+08

## Prepare the Dataset
### Correct Data Type

In [63]:
df_age['cause_name'] = df_age['cause_name'].astype('str') 
df_income['cause_name'] = df_income['cause_name'].astype('str') 
df_regions['cause_name'] = df_regions['cause_name'].astype('str')

### Check and Remove Duplicates

In [30]:
print("number of duplicates in df_age: ", df_age.duplicated().sum())
print("number of duplicates in df_income: ", df_income.duplicated().sum())
print("number of duplicates in df_regions: ", df_regions.duplicated().sum())

number of duplicates in df_age:  0
number of duplicates in df_income:  0
number of duplicates in df_regions:  0

### Handle Missing Data

In [31]:
df_age.isnull().sum()

location_id        0
age_group_id    7272
age_group          0
sex_id             0
year_id            0
severity           0
metric_id          0
level              0
cause_name         0
prev               0
lower              0
upper              0
dtype: int64

**Note**: according to ref_age sheet, `NA` in `age_group_id` represents age groups other than `all age` and `age standardized`, so we don't need to deal with the above "missing data".

In [32]:
df_income.isnull().sum()

IncomeGroupCountry    0
age_group_id          0
sex_id                0
year_id               0
cause_name            0
level                 0
severity              0
metric_id             0
mean                  0
lower                 0
upper                 0
dtype: int64

In [33]:
df_regions.isnull().sum()

Region          0
location_id     0
age_group_id    0
sex_id          0
year_id         0
cause_name      0
level           0
severity        0
metric_id       0
mean            0
lower           0
upper           0
dtype: int64

### Filter Outliers
In this dataset, each value represents the population of a disease, so I'll just check if any value is greater than the global population or a negative value, which means the value is incorrect.

In [49]:
global_population_2021 = 7874965825
print("number of prev in df_age greater than global population: ", (df_age['prev'] > global_population_2021).sum())
print("number of lower in df_age greater than global population: ", (df_age['lower'] > global_population_2021).sum())
print("number of upper in df_age greater than global population: ", (df_age['upper'] > global_population_2021).sum())
print("number of mean in df_income greater than global population: ", (df_income['mean'] > global_population_2021).sum())
print("number of lower in df_income greater than global population: ", (df_income['lower'] > global_population_2021).sum())
print("number of upper in df_income greater than global population: ", (df_income['upper'] > global_population_2021).sum())
print("number of mean in df_regions greater than global population: ", (df_regions['mean'] > global_population_2021).sum())
print("number of lower in df_regions greater than global population: ", (df_regions['lower'] > global_population_2021).sum())
print("number of upper in df_regions greater than global population: ", (df_regions['upper'] > global_population_2021).sum())

number of prev in df_age greater than global population:  0
number of lower in df_age greater than global population:  0
number of upper in df_age greater than global population:  0
number of mean in df_income greater than global population:  0
number of lower in df_income greater than global population:  0
number of upper in df_income greater than global population:  0
number of mean in df_regions greater than global population:  0
number of lower in df_regions greater than global population:  0
number of upper in df_regions greater than global population:  0

In [54]:
df_tmp = df_age.select_dtypes(include = np.number)
print("any value is less than 0 in df_age: ", (df_tmp.values < 0).any())
df_tmp = df_income.select_dtypes(include = np.number)
print("any value is less than 0 in df_income: ", (df_tmp.values < 0).any())
df_tmp = df_regions.select_dtypes(include = np.number)
print("any value is less than 0 in df_regions: ", (df_tmp.values < 0).any())

any value is less than 0 in df_age:  False
any value is less than 0 in df_income:  False
any value is less than 0 in df_regions:  False

### Check Equality

In [68]:
# Check if all of the causes appear in the three main sheet 
print("total cuases: ", ref_cause.shape[0])
print("unique cause name in df_age: ", df_age['cause_name'].nunique())
print("unique cause name in df_income: ", df_income['cause_name'].nunique())
print("unique cause name in df_regions: ", df_regions['cause_name'].nunique())

total cuases:  205
unique cause name in df_age:  205
unique cause name in df_income:  205
unique cause name in df_regions:  205

In [72]:
print("number of unique age group in df_age: ", df_age['age_group'].nunique())
print("number of unique age group id in df_income: ", df_income['age_group_id'].nunique())
print("number of unique age group id in df_regions: ", df_regions['age_group_id'].nunique())

number of unique age group in df_age:  6
number of unique age group id in df_income:  1
number of unique age group id in df_regions:  1

In [75]:
print("number of unique income groups in df_income: ", df_income['IncomeGroupCountry'].nunique())
print("number of unique regions in df_regions: ", df_regions['Region'].nunique())

number of unique income groups in df_income:  4
number of unique regions in df_regions:  6

#### df_age

In [80]:
df_metric_num = df_age.loc[df_age['metric_id'] == 1]
df_metric_per = df_age.loc[df_age['metric_id'] == 3]
print("unique cause name in df_age metric_id = 1: ", df_metric_num['cause_name'].nunique())
print("unique cause name in df_age metric_id = 3: ", df_metric_per['cause_name'].nunique())
print("shape of df_age metric_id = 1: ", df_metric_num.shape)
print("shape of df_age metric_id = 3: ", df_metric_per.shape)

unique cause name in df_age metric_id = 1:  205
unique cause name in df_age metric_id = 3:  205
shape of df_age metric_id = 1:  (4545, 12)
shape of df_age metric_id = 3:  (5454, 12)

In [87]:
# Figure out why nrow of metric_id 1 and 3 is different
df_metric_num = df_age.loc[(df_age['metric_id'] == 1) & (df_age['age_group'] == 'All age')]
df_metric_per = df_age.loc[(df_age['metric_id'] == 3) & (df_age['age_group'] == 'All age')]
print("shape of df_age All age, metric_id = 1: ", df_metric_num.shape)
print("shape of df_age All age, metric_id = 3: ", df_metric_per.shape)
print("unique cause of metric_id = 1: ", df_metric_num['cause_name'].nunique())
print("unique cause of metric_id = 3: ", df_metric_per['cause_name'].nunique())
df_metric_num = df_age.loc[(df_age['metric_id'] == 1) & (df_age['age_group'] == 'age standardized')]
df_metric_per = df_age.loc[(df_age['metric_id'] == 3) & (df_age['age_group'] == 'age standardized')]
print("shape of df_age age standardized, metric_id = 1: ", df_metric_num.shape)
print("shape of df_age age standardized, metric_id = 3: ", df_metric_per.shape)
print("unique cause of metric_id = 1: ", df_metric_num['cause_name'].nunique())
print("unique cause of metric_id = 3: ", df_metric_per['cause_name'].nunique())
df_metric_num = df_age.loc[(df_age['metric_id'] == 1) & (df_age['age_group'] == '60 plus')]
df_metric_per = df_age.loc[(df_age['metric_id'] == 3) & (df_age['age_group'] == '60 plus')]
print("shape of df_age 60 plus, metric_id = 1: ", df_metric_num.shape)
print("shape of df_age 60 plus, metric_id = 3: ", df_metric_per.shape)
print("unique cause of metric_id = 1: ", df_metric_num['cause_name'].nunique())
print("unique cause of metric_id = 3: ", df_metric_per['cause_name'].nunique())
df_metric_num = df_age.loc[(df_age['metric_id'] == 1) & (df_age['age_group'] == '15 plus')]
df_metric_per = df_age.loc[(df_age['metric_id'] == 3) & (df_age['age_group'] == '15 plus')]
print("shape of df_age 15 plus, metric_id = 1: ", df_metric_num.shape)
print("shape of df_age 15 plus, metric_id = 3: ", df_metric_per.shape)
print("unique cause of metric_id = 1: ", df_metric_num['cause_name'].nunique())
print("unique cause of metric_id = 3: ", df_metric_per['cause_name'].nunique())
df_metric_num = df_age.loc[(df_age['metric_id'] == 1) & (df_age['age_group'] == '0 to 14')]
df_metric_per = df_age.loc[(df_age['metric_id'] == 3) & (df_age['age_group'] == '0 to 14')]
print("shape of df_age 0 to 14, metric_id = 1: ", df_metric_num.shape)
print("shape of df_age 0 to 14, metric_id = 3: ", df_metric_per.shape)
print("unique cause of metric_id = 1: ", df_metric_num['cause_name'].nunique())
print("unique cause of metric_id = 3: ", df_metric_per['cause_name'].nunique())
df_metric_num = df_age.loc[(df_age['metric_id'] == 1) & (df_age['age_group'] == '15 to 59')]
df_metric_per = df_age.loc[(df_age['metric_id'] == 3) & (df_age['age_group'] == '15 to 59')]
print("shape of df_age 15 to 59, metric_id = 1: ", df_metric_num.shape)
print("shape of df_age 15 to 59, metric_id = 3: ", df_metric_per.shape)
print("unique cause of metric_id = 1: ", df_metric_num['cause_name'].nunique())
print("unique cause of metric_id = 3: ", df_metric_per['cause_name'].nunique())

shape of df_age All age, metric_id = 1:  (909, 12)
shape of df_age All age, metric_id = 3:  (909, 12)
unique cause of metric_id = 1:  205
unique cause of metric_id = 3:  205
shape of df_age age standardized, metric_id = 1:  (0, 12)
shape of df_age age standardized, metric_id = 3:  (909, 12)
unique cause of metric_id = 1:  0
unique cause of metric_id = 3:  205
shape of df_age 60 plus, metric_id = 1:  (909, 12)
shape of df_age 60 plus, metric_id = 3:  (909, 12)
unique cause of metric_id = 1:  205
unique cause of metric_id = 3:  205
shape of df_age 15 plus, metric_id = 1:  (909, 12)
shape of df_age 15 plus, metric_id = 3:  (909, 12)
unique cause of metric_id = 1:  205
unique cause of metric_id = 3:  205
shape of df_age 0 to 14, metric_id = 1:  (909, 12)
shape of df_age 0 to 14, metric_id = 3:  (909, 12)
unique cause of metric_id = 1:  205
unique cause of metric_id = 3:  205
shape of df_age 15 to 59, metric_id = 1:  (909, 12)
shape of df_age 15 to 59, metric_id = 3:  (909, 12)
unique cause of metric_id = 1:  205
unique cause of metric_id = 3:  205

In [89]:
# Check if sex both equals to sex male plus sex female
df_sex_m = df_age.loc[(df_age['metric_id'] == 3) & (df_age['age_group'] == 'All age') & (df_age['sex_id'] == 1)]
df_sex_f = df_age.loc[(df_age['metric_id'] == 3) & (df_age['age_group'] == 'All age') & (df_age['sex_id'] == 2)]
df_sex_b = df_age.loc[(df_age['metric_id'] == 3) & (df_age['age_group'] == 'All age') & (df_age['sex_id'] == 3)]
print("shape of all age, sex male: ", df_sex_m.shape)
print("shape of all age, sex female: ", df_sex_f.shape)
print("shape of all age, sex both: ", df_sex_b.shape)
df_sex_m = df_age.loc[(df_age['metric_id'] == 3) & (df_age['age_group'] == 'age standardized') & (df_age['sex_id'] == 1)]
df_sex_f = df_age.loc[(df_age['metric_id'] == 3) & (df_age['age_group'] == 'age standardized') & (df_age['sex_id'] == 2)]
df_sex_b = df_age.loc[(df_age['metric_id'] == 3) & (df_age['age_group'] == 'age standardized') & (df_age['sex_id'] == 3)]
print("shape of age standardized, sex male: ", df_sex_m.shape)
print("shape of age standardized, sex female: ", df_sex_f.shape)
print("shape of age standardized, sex both: ", df_sex_b.shape)

shape of all age, sex male:  (303, 12)
shape of all age, sex female:  (303, 12)
shape of all age, sex both:  (303, 12)
shape of age standardized, sex male:  (303, 12)
shape of age standardized, sex female:  (303, 12)
shape of age standardized, sex both:  (303, 12)

#### df_income

In [92]:
df_metric_num = df_income.loc[(df_income['metric_id'] == 1)]
df_metric_per = df_income.loc[(df_income['metric_id'] == 3)]
print("unique cause name in df_income metric_id = 1: ", df_metric_num['cause_name'].nunique())
print("unique cause name in df_income metric_id = 3: ", df_metric_per['cause_name'].nunique())
print("shape of df_income metric_id = 1: ", df_metric_num.shape)
print("shape of df_income metric_id = 3: ", df_metric_per.shape)
df_sex_m = df_income.loc[(df_income['metric_id'] == 3) & (df_income['sex_id'] == 1)]
df_sex_f = df_income.loc[(df_income['metric_id'] == 3) & (df_income['sex_id'] == 2)]
df_sex_b = df_income.loc[(df_income['metric_id'] == 3) & (df_income['sex_id'] == 3)]
print("shape of all age, sex male: ", df_sex_m.shape)
print("shape of all age, sex female: ", df_sex_f.shape)
print("shape of all age, sex both: ", df_sex_b.shape)

unique cause name in df_income metric_id = 1:  205
unique cause name in df_income metric_id = 3:  205
shape of df_income metric_id = 1:  (3636, 11)
shape of df_income metric_id = 3:  (3636, 11)
shape of all age, sex male:  (1212, 11)
shape of all age, sex female:  (1212, 11)
shape of all age, sex both:  (1212, 11)

#### df_regions

In [93]:
df_metric_num = df_regions.loc[(df_regions['metric_id'] == 1)]
df_metric_per = df_regions.loc[(df_regions['metric_id'] == 3)]
print("unique cause name in df_regions metric_id = 1: ", df_metric_num['cause_name'].nunique())
print("unique cause name in df_regions metric_id = 3: ", df_metric_per['cause_name'].nunique())
print("shape of df_regions metric_id = 1: ", df_metric_num.shape)
print("shape of df_regions metric_id = 3: ", df_metric_per.shape)
df_sex_m = df_regions.loc[(df_regions['metric_id'] == 3) & (df_regions['sex_id'] == 1)]
df_sex_f = df_regions.loc[(df_regions['metric_id'] == 3) & (df_regions['sex_id'] == 2)]
df_sex_b = df_regions.loc[(df_regions['metric_id'] == 3) & (df_regions['sex_id'] == 3)]
print("shape of all age, sex male: ", df_sex_m.shape)
print("shape of all age, sex female: ", df_sex_f.shape)
print("shape of all age, sex both: ", df_sex_b.shape)

unique cause name in df_regions metric_id = 1:  205
unique cause name in df_regions metric_id = 3:  205
shape of df_regions metric_id = 1:  (5454, 12)
shape of df_regions metric_id = 3:  (5454, 12)
shape of all age, sex male:  (1818, 12)
shape of all age, sex female:  (1818, 12)
shape of all age, sex both:  (1818, 12)

**Observations**:
- **df_age**
    - all causes showed in data sheet
    - age groups `0 to 14` plus `15 plus` doesn't equal to `All age`
    - age groups `0 to 14` plus `15 to 59` plus `60 plus` doesn't equal to `All age`
    - age groups `age standardized` lacks metric_id = 1
    - sex `both` doesn't equal to sex `male` plus sex `female` 
- **df_income**
    - all causes showed in data sheet
    - sex `both` doesn't equal to sex `male` plus sex `female` 
- **df_regions**
    - all causes showed in data sheet
    - sex `both` doesn't equal to sex `male` plus sex `female` 

> **Note**: I also want to check if the number of patients are equal when metric_id = 1 and metric_id = 3, but some critical parameters are not provided.